body{
    font-family:monospace;
    background-color:#300a2a
}
header{
    position:fixed;
    top:0;
    width:100%;
    background-color:#300a2a
}
footer{
	position:fixed;
    height: 4vh;
	bottom:0.1%;
	width:90%;

	background-color:#bafbfc;
    align-items: top;
}
.alignleft{
    float:left;
    width:33.33333%;
    text-align:left
}
.aligncenter{
    float:left;
    width:33.33333%;
    text-align:center
}
.alignright{
    float:left;
    width:33.33333%;
    text-align:right
}
p{
    color:#bafbfc;
    font-size:large;
    line-height:1
}
.tab1{
	margin-left:5%
}
.tab2{
	margin-left:10% 
}
a{
    color:#1efc0f;
    font-size:large
}
pre{
    margin-left:5%;
	color:#300a2a;
    height:100%; 
    margin-top: 0.05%;
    font-size: 0.9em;
}
.container{
    display:grid;
    grid-template-columns:10% auto 10%
}
.grid-text{
    grid-column-start:2;
    grid-column-end:3
}
.container2{
    display:grid;
    grid-template-columns:10% auto 10%;
    align-items: top;
}

