body{
    font-family:monospace;
    background-color:#32302f
}
header{
    position:fixed;
    top:0;
    width:100%;
    background-color:#32302f
}
footer{
	position:fixed;
	bottom:0;
	width:90%;
	background-color:#d5c4a1;
	height:5%
}
.alignleft{
    float:left;
    width:33.33333%;
    text-align:left
}
.aligncenter{
    float:left;
    width:33.33333%;
    text-align:center
}
.alignright{
    float:left;
    width:33.33333%;
    text-align:right
}
p{
    color:#d5c4a1;
    font-size:18px;
    line-height:1
}
.tab1{
	margin-left:5%
}
.tab2{
	margin-left:10% 
}
a{
    color:#8ec07c;
    font-size:18px
}
pre{
	color:#32302f;
}
.container{
    display:grid;
    grid-template-columns:10% auto 10%
}
.grid-text{
    grid-column-start:2;
    grid-column-end:3
}


