{%- if paginator.total_pages > 1 -%}
<nav class="pagination" aria-label="Writeup pages">
  <div class="pagination__position">
    <span>Page</span>
    <strong>{{ paginator.page | prepend: '0' | slice: -2, 2 }} / {{ paginator.total_pages | prepend: '0' | slice: -2, 2 }}</strong>
  </div>
  <div class="pagination__links">
    {%- if paginator.previous_page -%}
      <a rel="prev" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
    {%- else -%}
      <span aria-disabled="true">Previous</span>
    {%- endif -%}
    <a href="{{ '/archive.html' | relative_url }}">All writeups</a>
    {%- if paginator.next_page -%}
      <a rel="next" href="{{ paginator.next_page_path | relative_url }}">Next</a>
    {%- else -%}
      <span aria-disabled="true">Next</span>
    {%- endif -%}
  </div>
</nav>
{%- endif -%}
